body{
	background: #6e7d93;
	margin: 0;
}

#contentDiv {
	width: 60%;
	float: left;
	}

#leftDiv {
	width: 20%;
	height: 80vh;
	float: left;
}

#rightDiv {
	width: 20%;
	height: 80vh;
	float: left;
}

.button {
   padding: 5px 10px;
   background: red;
   text-decoration: none;
   font-family: Arial;
   font-weight: bold;
   margin: 2px;
   border: 2px solid #c41515;
   border-radius: 5px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
   cursor: pointer;
   color: white;
}

.button:hover {
   background: #c21e1e;
}

.button:active {
   background-color: #6d1616;
}

table {
	width: 100%;
	height: 20px;
	overflow: auto;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	position: relative;
}

th {
	padding: 8px;
	text-align: center;
}

td {
	padding: 4px;
	text-align: left;
}

table tr:nth-child(even) {
	background-color:#6ea39c;
}

table tr:nth-child(odd) {
	background-color: #9fbfc6;
}

table th {
	background-color: #1B1F24;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

table span{
  display: inline-block;
	
}

th{
	
	  font-size: 26px; 	
}

td{
	  font-size: 26px; 	
}



