<div class="coloroptions">
<label class="container ">&nbsp; 
  <input type="radio" checked="checked" value="0" name="<!--name-->" >
  <span class="checkmark redcircle"></span>
</label>
<label class="container">&nbsp; 
  <input type="radio" value="1" name="<!--name-->">
  <span class="checkmark bluecircle"></span>
</label>
<label class="container"> &nbsp;
  <input type="radio" value="2" name="<!--name-->">
  <span class="checkmark yellowcircle"></span>
</label>
<label class="container"> &nbsp;
  <input type="radio" value="3" name="<!--name-->">
  <span class="checkmark greencircle"></span>
</label>
</div>
